---
import Layout from "../layouts/Layout.astro";

import Hero from "../components/Hero/hero";
import Aboute from "../components/About/aboute";
import Skills from "../components/Skills/skills";
import TimelineMe from "../components/Timeline/timeline";
import ProjectsCv from "../components/Projects/projects";
import ContactForm from "../components/Contact/contact";
import Footer from "../components/Footer/footer"
import "../styles/global.css";

---

<Layout title="CV Emily Orduz ðŸ¥">
  <main>
    <Hero client:load />
    <Aboute client:load />
    <Skills client:load />
    <TimelineMe client:load />
    <ProjectsCv client:load />
    <ContactForm client:load/>
    <Footer  client:load/>
  </main>
</Layout>

<style>
  main {
    margin: auto;
    
  }
</style>
