@media (max-width: 768px) {
    .projects-cards {
        height: 25rem !important;
        margin-bottom: 110rem !important;
    }

    .ux-cards {
        height: 20rem !important;
        margin-bottom: 50rem !important;
    }
}