---
interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <!-- Primary Meta Tags -->
    <title>Emily Orduz </title>
    <meta name="title" content="Emily Orduz " />
    <meta
      name="description"
      content="Soy una desarrolladora Frontend con una s贸lida experiencia en la creaci贸n de interfaces de usuario intuitivas y visualmente atractivas. Utilizo tecnolog铆as modernas como React, Vue y Gatsby para desarrollar aplicaciones web responsivas, centradas en la accesibilidad y el rendimiento. "
    />

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://emily-orduz.zeabur.app/" />
    <meta property="og:title" content="Emily Orduz " />
    <meta
      property="og:description"
      content="Soy una desarrolladora Frontend con una s贸lida experiencia en la creaci贸n de interfaces de usuario intuitivas y visualmente atractivas. Utilizo tecnolog铆as modernas como React, Vue y Gatsby para desarrollar aplicaciones web responsivas, centradas en la accesibilidad y el rendimiento. "
    />
    <meta
      property="og:image"
      content="https://metatags.io/images/meta-tags.png"
    />

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:url" content="https://emily-orduz.zeabur.app/" />
    <meta property="twitter:title" content="Emily Orduz " />
    <meta
      property="twitter:description"
      content="Soy una desarrolladora Frontend con una s贸lida experiencia en la creaci贸n de interfaces de usuario intuitivas y visualmente atractivas. Utilizo tecnolog铆as modernas como React, Vue y Gatsby para desarrollar aplicaciones web responsivas, centradas en la accesibilidad y el rendimiento. "
    />
    <meta
      property="twitter:image"
      content="https://folderassets.s3.us-east-2.amazonaws.com/metatag.png?response-content-disposition=inline&X-Amz-Security-Token=IQoJb3JpZ2luX2VjEE8aCXVzLWVhc3QtMiJIMEYCIQDQHmp62moPivW4ZZT10%2F5Tlm5UTPM3JV8%2BiZfyj%2FjQeQIhAKRbp9JkIO%2FxHmm8xbN%2BMq5Q60iWP2WtYeOxAGIrWZ1VKuQCCDgQABoMOTc1MDUwMzA0NzQzIgzKIoAN01BBYIr%2BtSsqwQI4D0z4h%2FC7JF6H3lAEJJPuVG1z%2BDjDgklfsS%2FqEwgnuWVPJ1jtGSvayLK6Oiw1xJ9UL0eaYOsL%2FFNs3UP%2BZQEASn4QiWIGOL88wj3aZNf7%2B57CEoun4wsZX55UD132URAqha1eJJ1Chm%2BzavyKqCTLg1SzKDFfRdaOfREXE8xfFE6YmBIu%2FjGQkX3LsnKGa%2FekUkfdyfpnn4sdx2IQrlu7gtNQ4OxO9UUpuE5qUEXORHysFcJZGcDC%2F7AYhuvwoYyyIBGgw0AKt9ipi1G2ZVIFGXS4jPb%2BxbWg0ilq0eJcbE4P7sF0xzY0sr67u63G49Jpg6mKF1SC%2Fu8o9J2VDPQzRCTbrVlNtjLR7L%2BmX4GsEUuP3aHEh9d%2BpN0zgocVpiPtPgM%2FJV3Ap0DOSg5NjDmJT5b3HJIldazkF9s7ydEbNQUwtrugtQY6sgIfUbYQVsg7xuDFQtw0Dkr4C4TZi19OP6Dmph7NxyQkLcQa0tPIvgWx7o52%2B1TYAl3hWd3NiW%2BUjyqKVlhITzWnkECl6yzdNVF1p8dwnR0qXozVtpn4dkjMmQm%2BtAt%2B%2FyIoPT59bTDjAo466XUdsuCg6fc5BfYzMaTenW3Z6b0%2FoDKq0Vk3PsVdtertYkiMx4Yz3qGZsSV4lOaN5sR9bqU4TQgXlb09NW8fCB%2B0Gvox8eWrsi4%2BOHN8v87mxibjcNafT5nq%2BFR3aBc88J5arSVoWafgF9foPHBxlaciIVYqUOOTNm1pfrqojHZUgBsYPOXyt9KOFwv83UblE%2BOpM12tt2s0DjA%2BCyRqorurV46xezpok%2B9NtU0%2BHXwjtsECyrkzJcXmrv7ObFfqKHbRBnHDPOg%3D&X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Date=20240729T231418Z&X-Amz-SignedHeaders=host&X-Amz-Expires=300&X-Amz-Credential=ASIA6GBMG5TTUTFTTX7E%2F20240729%2Fus-east-2%2Fs3%2Faws4_request&X-Amz-Signature=51a52cc54ad77d2f5d083ee2f15c9de1b70b8d84f37a89c8640e3378803b3ac7"
    />

    <!-- Meta Tags Generated with https://metatags.io -->
    <meta
      name="keywords"
      content="web dise帽o, dise帽o web, programaci贸n, frontend, developer, desarrollo web, Emily Orduz"
    />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="preconnect" href="https://your-cdn.com" />
    <link rel="preload" href="../assets/hero.webp" as="image" />
    <link rel="icon" type="image/svg+xml" href="/gato.svg" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
      rel="stylesheet"
    />
    
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <slot />
  </body>
</html>


<style is:global>
  @tailwind base;
  @tailwind components;
  @tailwind utilities;
  :root {
    --accent: 136, 58, 234;
    --accent-light: 224, 204, 250;
    --accent-dark: 49, 10, 101;
    --accent-gradient: linear-gradient(
      45deg,
      rgb(var(--accent)),
      rgb(var(--accent-light)) 30%,
      white 60%
    );
  }
  html {
    font-family: "Poppins", sans-serif;
    color: black;
    background-size: 224px;
    scroll-behavior: smooth;
  }
  input[type="text"],
  input[type="email"] {
    padding: 0.5rem;
    color: black;
  }
</style>
