---
interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <!-- Primary Meta Tags -->
    <title>Emily Orduz </title>
    <meta name="title" content="Emily Orduz " />
    <meta
      name="description"
      content="Soy una desarrolladora Frontend con una s贸lida experiencia en la creaci贸n de interfaces de usuario intuitivas y visualmente atractivas. Utilizo tecnolog铆as modernas como React, Vue y Gatsby para desarrollar aplicaciones web responsivas, centradas en la accesibilidad y el rendimiento. "
    />

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://emily-orduz.zeabur.app/" />
    <meta property="og:title" content="Emily Orduz " />
    <meta
      property="og:description"
      content="Soy una desarrolladora Frontend con una s贸lida experiencia en la creaci贸n de interfaces de usuario intuitivas y visualmente atractivas. Utilizo tecnolog铆as modernas como React, Vue y Gatsby para desarrollar aplicaciones web responsivas, centradas en la accesibilidad y el rendimiento. "
    />
    <meta
      property="og:image"
      content="https://metatags.io/images/meta-tags.png"
    />

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:url" content="https://emily-orduz.zeabur.app/" />
    <meta property="twitter:title" content="Emily Orduz " />
    <meta
      property="twitter:description"
      content="Soy una desarrolladora Frontend con una s贸lida experiencia en la creaci贸n de interfaces de usuario intuitivas y visualmente atractivas. Utilizo tecnolog铆as modernas como React, Vue y Gatsby para desarrollar aplicaciones web responsivas, centradas en la accesibilidad y el rendimiento. "
    />
    <meta
      property="twitter:image"
      content="https://emily-orduz.zeabur.app/_astro/hero.Gq6_veUI.webp"
    />

    <!-- Meta Tags Generated with https://metatags.io -->
    <meta
      name="keywords"
      content="web dise帽o, dise帽o web, programaci贸n, frontend, developer, desarrollo web, Emily Orduz"
    />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="preconnect" href="https://your-cdn.com" />
    <link rel="preload" href="../assets/hero.webp" as="image" />
    <link rel="icon" type="image/svg+xml" href="/gato.svg" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
      rel="stylesheet"
    />
    
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <slot />
  </body>
</html>


<style is:global>
  @tailwind base;
  @tailwind components;
  @tailwind utilities;
  :root {
    --accent: 136, 58, 234;
    --accent-light: 224, 204, 250;
    --accent-dark: 49, 10, 101;
    --accent-gradient: linear-gradient(
      45deg,
      rgb(var(--accent)),
      rgb(var(--accent-light)) 30%,
      white 60%
    );
  }
  html {
    font-family: "Poppins", sans-serif;
    color: black;
    background-size: 224px;
    scroll-behavior: smooth;
  }
  input[type="text"],
  input[type="email"] {
    padding: 0.5rem;
    color: black;
  }
</style>
